<div>
  <button id="alcoolType" type="button" name="btn btn-info button" resource="http://dbpedia.org/class/yago/CocktailsWithBitters" ng-click="getCocktails($event)">Bitters</button>
  <button id="alcoolType" type="button" name="btn btn-info button" resource="http://dbpedia.org/class/yago/CocktailsWithGin" ng-click="getCocktails($event)">Gin</button>
  <button id="alcoolType" type="button" name="btn btn-info button" resource="http://dbpedia.org/class/yago/CocktailsWithPunsch" ng-click="getCocktails($event)">Punsch</button>
</div>
<div class="table-responsive">
  <table class="table">
    <tr ng-repeat="cocktail in cocktails track by $index">
      <td><img src="{{ cocktail.image.value }}" class="img-responsive" alt="Picture of a {{ cocktail.name.value }}"></td>
      <td><h2>{{ cocktail.name.value }}</h2></td>
      <td>Lire plus <a href="#/cocktails/{{ cocktail.uri.value.split('/').pop(-1) }}">More</a></td>
    </tr>
  </table>
</div>
